
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer
              class="example-sidenav"
              mode="side"
              [opened] ="isOpenSidepanel">
    <app-side-panel [userList]="userList" [user]="user" [isConnected]="isConnected"></app-side-panel>
  </mat-drawer>
<mat-drawer-content>
  <app-message-view-panel [messageList]="messageList" [currentUserId]="user?.id"></app-message-view-panel>
  <app-send-message-panel></app-send-message-panel>
</mat-drawer-content>

</mat-drawer-container>
