<div class="menu-header">
  <mat-icon color="primary"  class="main-user-icon"  aria-hidden="false" >account_circle</mat-icon>
  <span >{{user?.userName}}</span>
  <mat-icon  *ngIf="!isConnected; else elseBlock" class="main-user-icon-offline" >power_settings_new</mat-icon>
  <ng-template #elseBlock><mat-icon class="main-user-icon-online" >power_settings_new</mat-icon></ng-template>

</div>

<mat-divider ></mat-divider>
<div class="user-list">
  <ul>
    <li *ngFor="let user of userList">
      <app-user-item [user]="user"></app-user-item>
      <mat-divider></mat-divider>
    </li>
  </ul>
</div>
